.ui-button-text-only .ui-button-text {
	padding: .1em .5em;
	margin-top: .2em;
}


#left_col {
   float:left;
   width:600px;
}
#right_col {
   float:right;
   width:600px;
}


.fixed {
    position:fixed;
    top:0px;
}
